.star {
    position: absolute;
    top: 0px;
    padding-top: 0;
}

.star2 {
    position: absolute;
    top: 300px;
    padding-top: 0;
}

.star3 {
    position: absolute;
    top: 600px;
    padding-top: 0;
}

.star4 {
    position: absolute;
    top: 0px;
    right: 0;
    padding-top: 0;
}

.star5 {
    position: absolute;
    top: 300px;
    right: 0px;
    padding-top: 0;
}

.star6 {
    position: absolute;
    top: 600px;
    right: 0px;
    padding-top: 0;
}